@* stylesheet *@
<link rel="stylesheet" href="~/css/Profile/Account.css" asp-append-version="true" />

@* https://localhost:7142/Profile/Account *@

<div class="main_wrap border-radius box-shadow">
    <div id="work" class="work_main_area obj-horizontal-center">
        <div class="top_area">
            <h4 class="bold">員工帳號管理</h4>
        </div>
        <div class="chose-display">
            <div class="search-row">
                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">部門</p>
                    <select id="departmentSelect" class="form-select" aria-label="部門選擇">
                        <option value="工務工程部" selected>工務工程部</option>
                        <option value="工務管理部">工務管理部</option>
                        <option value="行政管理部">行政管理部</option>
                    </select>
                </div>

                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">啟用狀態</p>
                    <select id="statusSelect" class="form-select" aria-label="啟用狀態選擇">
                        <option value="1" selected>啟用中</option>
                        <option value="0">已關閉</option>
                    </select>
                </div>
            </div>

            <div class="search-row">
                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">員工編號</p>
                    <input maxlength="6" type="text" class="form-control" id="employeeId" name="employeeId">
                </div>

                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">員工姓名</p>
                    <input maxlength="10" type="text" class="form-control" id="employeeName" name="employeeName">
                </div>

                <div class="buttons">
                    <button id="searchButton" class="search-button obj-center">
                        <p class="bold color-white">查詢</p>
                    </button>
                    <div id="buttons">
                    </div>

                </div>
            </div>
        </div>

        <div class="middle_area">
            <table class="table">
                <thead>
                    <tr id="tableHeader">
                        <th class="tb-title">序號</th>
                        <th class="tb-title">照片</th>
                        <th class="tb-title">員工姓名</th>
                        <th class="tb-title">員工編號</th>
                        <th class="tb-title">聯絡電話</th>
                        <th class="tb-title">部門</th>
                        <th class="tb-title">職稱</th>
                        <th class="tb-title">到職日</th>
                        <th class="tb-title">啟用狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-check-circle color-green"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-check-circle color-green"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-check-circle color-green"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-check-circle color-green"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-check-circle color-green"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-check-circle color-green"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-exclamation-circle color-gray-light"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-exclamation-circle color-gray-light"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-exclamation-circle color-gray-light"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><img class="employeeImg" src="" alt="員工頭貼" /></td>
                        <td>員工姓名</td>
                        <td>A00000</td>
                        <td>0919-123-456</td>
                        <td>管理部</td>
                        <td>現場主管</td>
                        <td>2012/02/01</td>
                        <td><i class="fas fa-exclamation-circle color-gray-light"></i></td>
                        <td><i class="fas fa-edit color-gray-medium"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="end_area obj-center" id="endArea">
        </div>
    </div>

</div>

<script>
    let currentPage = 1;
    let totalPage = 1;
    let apiLoading = 0;
    let options = {currentPage:currentPage.toString(),};
    document.addEventListener('DOMContentLoaded', function async () {

        addPageButton();

        setTable(options);
        // console.log(totalPage);
    });

    document.getElementById("searchButton").addEventListener("click", function() {
        currentPage = 1;
        options.currentPage = currentPage.toString();

        if($("#departmentSelect").val()){
            options.department = $("#departmentSelect").val();
        }

        if($("#statusSelect").val()){
            options.IsActive = $("#statusSelect").val();
        }

        if($("#employeeId").val()){
            options.employeeId = $("#employeeId").val();
        }

        if($("#employeeName").val()){
            options.employeeName = $("#employeeName").val();
        }
        setTable(options);
    });

    if("@ViewBag.role" == "A"){
        const buttons = document.getElementById("buttons");
        buttons.innerHTML = `
            <button id="addButton" class="button button_style bold addBtn">
                <p class="bold color-white">新增</p>
            </button>
            `;
        document.getElementById("addButton").addEventListener("click", function() {
            location.href="/profile/NewAccount";
        });
    }

    let setTable = async(options) =>{
        if(apiLoading){
            return;
        }
        apiLoading = 1;
        let data = await getAccounts(options);
        let tableData = data.data;
        console.log(tableData);

        const tableHeader = document.getElementById("tableHeader");
        tableHeader.innerHTML = `
            <th>序號</th>
            <th>照片</th>
            <th>員工姓名</th>
            <th>員工編號</th>
            <th>聯絡電話</th>
            <th>部門</th>
            <th>職稱</th>
            <th>到職日</th>
            <th>啟用狀態</th>
        `;

        if("@ViewBag.role" == "A"){
            const headerElement = document.createElement('th');
            headerElement.className = "tb-title";
            headerElement.textContent = "編輯";

            document.getElementById("tableHeader").appendChild(headerElement);
        }

        const tbody = document.querySelector('.table tbody');
        tbody.innerHTML = '';

        tableData.forEach((row, index)=> {
            const tr = document.createElement('tr');
            let hireDate = formatDate(row.hireDate)
            // 新增 Row
            tr.innerHTML = `
            <td>${index + 1}</td>
            <td><img class="employeeImg" src="${row.employeePhoto}" alt="員工頭貼" /></td>
            <td>${row.employeeName}</td>
            <td>${row.employeeId}</td>
            <td>${row.phoneNumber.slice(0,4)+"-"+row.phoneNumber.slice(4,7)+"-"+row.phoneNumber.slice(7)}</td>
            <td>${row.department}</td>
            <td>${row.position}</td>
            <td>${hireDate}</td>
            <td><i class="fas ${row.isActive ? 'fa-check-circle color-green' : 'fa-exclamation-circle color-gray-light'}"></i></td>
    @if (ViewBag.role == "A")
    {
                <td><a href="/Profile/NewAccount/${row.employeeId}"><i class="fas fa-edit color-gray-medium" name="${row.EmployeeId}"></i></a></td>
    }
            `;
                    tbody.appendChild(tr);
        });

        totalPage = data.totalPage;
        if (totalPage !== $('.page_circle').length) {
            addPageButton();
        }

        apiLoading = 0;
    };


    function getAccounts(options){
        console.log('傳送參數:', options); // 驗證傳送內容
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "/Profile/GetAccountsData",
                type:"POST",
                contentType:"application/json",
                data: JSON.stringify(options),
                success: resolve,
                error: reject
            });
        });
    };

    const addPageButton = () => {
        // 頁次生成
        const $endArea = $('#endArea');
        $endArea.empty();

        // 上一頁按鈕
        const lastButton = document.createElement('h4');
        lastButton.innerHTML = '<i class="fas fa-chevron-left txt-center" id="Last"></i>';
        endArea.appendChild(lastButton);

        // 頁碼生成
        for (let i = 1; i <= totalPage; i++) {
            const pageCircle = document.createElement('div');
            pageCircle.className = 'page_circle obj-center';
            pageCircle.id = `page_circle${i}`;

            const pageNumber = document.createElement('p');
            pageNumber.className = 'bold';
            pageNumber.textContent = i;

            pageCircle.appendChild(pageNumber);
            endArea.appendChild(pageCircle);
        }

        // 下一頁按鈕
        const nextButton = document.createElement('h4');
        nextButton.innerHTML = '<i class="fas fa-chevron-right txt-center" id="Next"></i>';
        endArea.appendChild(nextButton);

        updatePageSelection();

        bindPageEvents();
    };


    const updatePageSelection = () => {
        $('.page_circle').css('backgroundColor', '');
        $(`#page_circle${currentPage}`).css('backgroundColor', '#D9D9D9');
    };


    const bindPageEvents = () => {

        $('#Last').click(function() {
            if (currentPage > 1) {
                currentPage--;
                options.currentPage = currentPage.toString();
                updatePageSelection();
                setTable(options);
            }
        });

        $('#Next').click(function() {
            if (currentPage < totalPage) {
                currentPage++;
                options.currentPage = currentPage.toString();
                updatePageSelection();
                setTable(options);
            }
        });

        $('.page_circle').click(function() {
            const newPage = parseInt($(this).attr('id').replace('page_circle', ''));
            if (newPage !== currentPage) {
                currentPage = newPage;
                options.currentPage = currentPage.toString();
                updatePageSelection();
                setTable(options);
            }
        });
    };

    function formatDate(dateString) {
        if (!dateString) return '';
        let date = new Date(dateString);
        let yyyy = date.getFullYear();
        let mm = String(date.getMonth() + 1).padStart(2, '0');
        let dd = String(date.getDate()).padStart(2, '0');
        return `${yyyy}/${mm}/${dd}`;
    }
</script>