/* 右上角箭頭 */
.end-arrow {
    float: right;
}

.main_wrap {
    width: 100%;
    height: auto;
    padding: 40px 30px 0px 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* 標題區 */
.cctv-top {
    width: 100%;
}
/* 畫面區 */
.cctv-middle {
    display: grid;
    grid-template-columns: 71.24% 27.02%;
    column-gap: 1.74%;
    margin-top: 40px;
    margin-bottom: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cctv-middle-left {
    object-position: center;
}

.cctv-middle-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* 小cctv */
.cctv-small {
    width: calc(50% - 10px);
    height: 174px;
    position: relative;
}

.cctv-txt {
    margin-top: 0px;
    width: 188px;
    margin-bottom: 12px;
}

/* 頁次按鈕 */
.cctv-end-container {
    display: grid;
    grid-template-columns: 71.24% 27.02%;
    column-gap: 1.74%;
}

.cctv-end {
    display: flex;
    margin-bottom: 16px;
    gap: 4px;
    height: 24px;
    justify-content: center;
    align-items: center;
    /* transform:translateX(-51.5%); */
}

    .cctv-end i {
        cursor: pointer;
        transition: transform 0.3s ease;
        width: 24px;
    }

        .cctv-end i:hover {
            transform: scale(1.1);
        }

/* 大cctv */
.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* img設定 */
.video-l {
    display: block;
    width: 1064px;
    height: 760px;
    background-color: hsl(0, 0%, 25%);
}

.video-s {
    display: block;
    width: 188px;
    height: 134px;
    background-color: hsl(0, 0%, 25%);
    transition: transform 0.3s ease;
}

.cctv-small img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* 頁次按鈕圓圈 */
.page_circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.cctv-end div:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #D9D9D9;
}
