@* stylesheet *@
<link rel="stylesheet" href="~/css/Project/Issues.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Project/Blueprints.css" asp-append-version="true" />




<body>

	<!-- Main Start -->
	<div class="main_wrap border-radius box-shadow">
		<div class="container">
			<div class="mb-4" data-wow-delay="0.1s" style="max-width: 100%;">


				<div class="top_area2">
					<h4 class="db-title-l">圖紙版本管理</h4>
					<div class="btn-link">
						<a id="fromID">
							<button id="unusualPopupButton " class="button button_style bold">版本新增</button>
						</a>
						@* 返回*@
						<a href="~/Project/Blueprints?id=" id="CateID">
							<p class="back-icon"><i class="fas fa-reply end-arrow" style="align-items:center"></i></p>
						</a>
					</div>
				</div>


			</div>

			<div class="container-fluid ">
				<div class="container py-5">
					<div class="row g-4">
						<div class="col-lg-7 col-xl-8 mt-0">
							<div class="position-relative overflow-hidden border-radius">
								<img src="" class="img-fluid img-zoomin w-100" alt="" id="show-print-true" style="cursor: pointer; ">
							</div>
						</div>
						<div class="col-lg-5 col-xl-4">
							<div class="bg-light border-radius p-4 pt-0">
								<div class="row g-4">
									<div class="col-12">
										<p class="mb-4 info-txt"><i class="fas fa-check-circle color-green"></i> 顯示版本</p>
										<div class="border-radius overflow-hidden">
											<img src="" class="img-fluid border-radius img-zoomin w-100" alt="" id="show-print-true2" style="cursor: pointer;">
										</div>
									</div>
									<div class="col-12">
										<div class="d-flex flex-column">

											<div class="flex-row">
												<p class="mb-4 info-title">圖紙名稱</p>
												<p class="mb-4 info-txt " id="print-true-bpname">XXX </p>
											</div>
											<div class="flex-row">
												<p class="mb-4 info-title">版本號碼</p>
												<p class="mb-4 info-txt" id="print-true-bpversion">v.2.1F</p>
											</div>

											<div class="flex-row">
												<p class="mb-4 info-title">負責人員</p>
												<p class="mb-4 info-txt" id="print-true-udname">王大明X</p>
											</div>
											<div class="flex-row">
												<p class="mb-4 info-title">上傳日期</p>
												<p class="mb-4 info-txt" id="print-true-update">2025/03/06</p>
											</div>
										</div>
									</div>
									@model IEnumerable<dynamic>
									@* 動態生成右下  *@
									@if (Model != null && Model.Any())
									{
										int count = 1;
										@foreach (var blueprint in Model)
										{
											<div class="col-12">
												@if (count > 0)
												{
													<p class="mb-4 info-txt"><i class="fas fa-undo color-gray-light"></i> 版本紀錄</p>
													count = 0;
												}
												<div class="row g-4 align-items-center hover-color">
													<div class="col-5">
														<div class="overflow-hidden border-radius">
															<img src="data:jpg;base64,@Convert.ToBase64String(blueprint.Image)" class="img-zoomin img-fluid border-radius w-100" alt="" style="cursor: pointer;">
														</div>
													</div>
													<div class="col-7  changeClickCheck">
														<div class="features-content d-flex flex-column">
															<p class="PrintStatus">未啟用</p>
															<small><i class="fas fa-hashtag dynamic-check-change"> v.@blueprint.Version</i></small>
															<small><i class="fa fa-clock"> @blueprint.UploadDate</i> </small>
														</div>
													</div>
												</div>
											</div>
										}
									}
									@* 右下 *@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main End -->

	@* 圖片放大 *@
	<div id="picturePopup" class="picture-popup-wrap">
		<div class="picture-popup-content">
			<img class="picture-img" src="#" alt="Alternate Text" />
		</div>
	</div>

	<!-- track Pop-up -->
	<div id="trackPopup" class="track-popup-wrap">
		<div class="track-popup-content">
			<div class="track-top obj-vertical-center">
				<div class="track-close obj-center">&times;</div>
			</div>
			<div class="track-area">
				<div class="message-display">
					<h4 class="color-gray-dark bold">是否將此版本更改為啟用藍圖?</h4>
				</div>
				<div class="obj-center track-check">
					<button class="track-button change-isactive obj-center">
						<p class="bold color-white">
							是
						</p>
					</button>
					<button class="track-button track-close obj-center">
						<p class="bold color-white">
							否
						</p>
					</button>
				</div>
			</div>
		</div>
	</div>



	<!-- JavaScript Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Template Javascript -->
	@* <script src="js/main.js"></script> *@



	<script>
		//C# coding
		const params = new URLSearchParams(window.location.search);
		console.log("Params"+params.get("id"));   // 取得 id 參數值
		console.log("Params"+params.get("BPName")); // 取得 name 參數值
		let changedVersion;  //被改的version
		let changingVersion; //update 1
		let cID;
		let BPName = params.get("BPName")
		function GetID() {
			let req = {             }
			return new Promise((resolve, reject) => {
				$.ajax({
					url: "/Project/GetUsingCategary",
					type: "GET",
					contentType: "application/json",
					data: JSON.stringify(req),
					success: resolve,
					error: reject
				});
			 });
		  }
		async function  useFunc(){
			cID = await GetID();
			$("#CateID").prop("href", "/Project/Blueprints?id="+cID)
			console.log(cID);
		}
		useFunc();

		// 抓status = 1
		$.ajax({
			url: "/Project/GetStatusTruePrint",
			type: "GET",
			data:{
				id: params.get("id"),
				BPName: params.get("BPName")
			},
			contentType: "application/json",
			success: function(response) {
				console.log("請求成功:", response[0]);
				if (response.length > 0 ) {
					// 以 Base64 格式顯示圖片
					let imgURL = "data:image/jpg;base64," + response[0].image;
					changedVersion = response[0].version;
					$("#show-print-true").attr("src", imgURL); // 設定圖片來源
					$("#show-print-true2").attr("src", imgURL); // 設定圖片來源
					$("#print-true-bpname").text(response[0].bpName);
					$("#print-true-bpversion").text("v" + response[0].version);
					$("#print-true-udname").text(response[0].udName); // 大小寫要匹配
					$("#print-true-update").text(response[0].uploadDate);
					// console.log("圖片成功顯示"+udname);

					//辨別分頁
					$("#fromID").prop("href", "/Project/BlueprintsEdit?id="+cID+"&BPName="+BPName+"&version="+changedVersion.toString()+"&fromName=BPD")
					console.log($("#fromID"));
				}
			},
			error: function(xhr, status, error) {
				console.error("請求失敗:", error);
				console.error("錯誤訊息:", xhr.responseText); // 顯示錯誤的詳細訊息
			},
		});


		$(".dynamic-check-change").on("click", function() {
			let versionTage = $(this).text();
			// console.log("version", versionTage); version v.11
			 changingVersion1 = versionTage.split(".");
			 changingVersion = changingVersion1[1];
			console.log(changingVersion);
			console.log(typeof changingVersion);
			
		})
		$(".change-isactive").on("click", function(){
				// console.log("changingVersion : "+changingVersion);					11
				// console.log(JSON.stringify({
				// 	id: params.get("id"),
				// 	BPName: params.get("BPName"),
				// 	changingVersion: changingVersion,               
				// 	changedVersion:changedVersion.toString() 型態int 轉 string
				// }));
				// console.log(typeof changedVersion);

				 $.ajax({
					 url: "/Project/ChangeIsActive",
					 type: "POST",
					 data:JSON.stringify({
						id: params.get("id"),
						BPName: params.get("BPName"),
						changingVersion:changingVersion,
						changedVersion:changedVersion.toString()  //型態int 轉 string
					  }),
					contentType: "application/json",
					 success: function(response) {
						console.log("請求成功:");
						// 修改成功後重新載入頁面
						window.location.reload();
					  },
					 error: function(xhr, status, error) {
						console.error("請求失敗:", error);
						console.error("錯誤訊息:", xhr.responseText); //顯示錯誤的詳細訊息
					 },
				 });
			});

		//C# coding

		 // show popup
		$(".changeClickCheck").on("click", function(e) {
			e.stopPropagation();
			// 確保點擊的不是 .dynamic-check-change 本身，而是其父元素
			if (!$(e.target).hasClass("dynamic-check-change")) {
				$(this).find(".dynamic-check-change").trigger("click");
			}
			$(".track-popup-wrap").show()
		});

		// 點擊背景區域關閉彈窗
		$("#trackPopup").click(function(e) {
			e.stopPropagation();
			if(e.target === this) {
				$(this).fadeOut();
			}
		});

		// 點擊關閉彈窗
		$(".track-close").click(function(e) {
			e.stopPropagation();
			if(e.target === this) {
				$(".track-popup-wrap").fadeOut()
			}
		});

		document.addEventListener("DOMContentLoaded", function () {
			// 選取所有有 .img-zoomin 類別的圖片
			document.querySelectorAll(".img-zoomin").forEach(function (img) {
				img.addEventListener("click", function () {
					let popup = document.getElementById("picturePopup");
					let popupImg = popup.querySelector(".picture-img");

					// 設定放大視窗內的圖片 src
					popupImg.src = this.src;

					// 顯示放大視窗
					popup.style.display = "flex";
				});
			});

			// 點擊放大視窗時關閉
			document.getElementById("picturePopup").addEventListener("click", function () {
				this.style.display = "none";
			});
		});
		//ready
		  // $(document).ready(function() {
		  //       useFunc
		  //       useFunc();
		  //   }
	</script>




</body>
