@* stylesheet *@

<link rel="stylesheet" href="~/css/Project/Blueprints.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Project/Issues.css" asp-append-version="true" />


<div class="main_wrap border-radius box-shadow">
    <div class="container">
        <div class="mb-4" data-wow-delay="0.1s" style="max-width: 600px;">
            <div class="top_area">
                <h4 class="db-title-l">施工圖紙管理  </h4>
            </div>
        </div>

        <div class="row g-4">
            @* card 結構工程圖 *@
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-landmark text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3 db-title-s">結構工程圖</h4>
                    <p class="mb-4 db-txt">建築結構的承重與穩定性設計，涵蓋基礎、柱梁、樓板及承重牆等要素，確保建築的安全性與結構完整性。</p>
                    <a class="btn" href="~/Project/Blueprints?id=PC1"><i class="fa fa-arrow-right text-primary me-3"></i>Read More</a>
                </div>
            </div>

            @* card 建築設計圖 *@
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-building text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3 db-title-s">建築設計圖</h4>
                    <p class="mb-4 db-txt">建築整體規劃與各樓層設計的圖紙，建築外觀、內部空間布局及功能分區，用於指導建築施工與設計驗證。</p>
                    <a class="btn" href="~/Project/Blueprints?id=PC2"><i class="fa fa-arrow-right text-primary me-3"></i>Read More</a>
                </div>
            </div>

            @* card 公共設施圖 *@
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-spa text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3 db-title-s">公共設施圖</h4>
                    <p class="mb-4 db-txt">展示公共區域的規劃與設計，包含停車場、景觀等配置圖紙，提升建築周邊環境的功能性與美觀性。</p>
                    <a class="btn" href="~/Project/Blueprints?id=PC3"><i class="fa fa-arrow-right text-primary me-3"></i>Read More</a>
                </div>
            </div>

            @* card 施工細部圖 *@
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-ruler-vertical text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3 db-title-s">施工細部圖</h4>
                    <p class="mb-4 db-txt">提供具體施工細節的技術圖紙，涵蓋樓梯、門窗、天花板與隔間等施工要求，確保施工精度與品質。</p>
                    <a class="btn" href="~/Project/Blueprints?id=PC4"><i class="fa fa-arrow-right text-primary me-3"></i>Read More</a>
                </div>
            </div>

            @* card 機電設備圖 *@
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-bolt text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3 db-title-s">機電設備圖</h4>
                    <p class="mb-4 db-txt">涵蓋機械、電氣與管道系統的設計圖紙，包括電氣配電、排水與消防系統，用於設備安裝與系統整合。</p>
                    <a class="btn" href="~/Project/Blueprints?id=PC5"><i class="fa fa-arrow-right text-primary me-3"></i>Read More</a>
                </div>
            </div>

            @* card 其他 *@
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-compress text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3 db-title-s">其他</h4>
                    <p class="mb-4 db-txt">包含未歸類於上述類別的圖紙，如特殊設計圖，用於補充和支援整體施工需求。</p>
                    <a class="btn" href="~/Project/Blueprints?id=PC6"><i class="fa fa-arrow-right text-primary me-3"></i>Read More</a>
                </div>
            </div>

        </div>

    </div>
</div>

