<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Heldom_SYS</title>

    @* Google Fonts *@
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    @* bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* Fontawesome *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    @* My stylesheet  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />


    @* script *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @* ----- header ----- *@
    <header class="layout_header bold">
        @* left *@
        <div class="layout_bars">
            <h6 class="layout_menu_bar color-menu"><i class="fas fa-bars"></i></h6>
        </div>
        @* logo *@
        <div class="layout_inline layout_logo">
            <div class="logo-img">
                <img src="~/img/Heldom.png" class="img-fluid">
            </div>
            <div class="layout_name color-gray-medium">Heldom</div>
        </div>
        @* right *@
        <div class="mb-display-none">
        <div class="layout_block layout_inline">
            <div id="timeDisplay" class="layout_time"> 2025 / 02 / 15  14:39:21</div>
            @* >>> 待加入照片 *@
            <div class="layout_headshot">
                    <h3><i class="fas fa-user"></i></h3>
            </div>
        </div>
        </div>
    </header>

    @* ----- menu ----- *@
    <div class="layout_main color-bg-white">
        <div id="menu" class="layout_menu_show invisible-scrollbar">
        </div>
        <div class="layout_display">
            @RenderBody()
        </div>
    </div>


    <!-- Holiday Pop-up -->
    <div id="logoutViewPopup" class="logoutView-popup-wrap">
        <div class="logoutView-popup-content">
            <div class="logoutView-top obj-vertical-center">
                <div class="logoutView-close obj-center">×</div>
            </div>
            <div class="logoutView-area">
                <div class="message-display">
                    <h4 class="color-gray-dark bold">是否登出?</h4>
                </div>
                <div class="obj-center logoutView-check">
                    <button class="logoutView-button obj-center" style="margin-right:20px;" id="outBtn">
                        <p class="bold color-white">是</p>
                    </button>
                    <button class="logoutView-button obj-center" id="backBtn">
                        <p class="bold color-white">否</p>
                    </button>
                </div>
            </div>
        </div>
    </div>


    @await RenderSectionAsync("Scripts", required: false)

    <script async>
        let controllerName = "@ViewContext.RouteData.Values["controller"]"
        let actionName = "@ViewContext.RouteData.Values["action"]";
        
        //拿取menu資料
        function GetMenu() {
          return new Promise((resolve, reject) => {
            $.ajax({
              url: "/Tool/GetMenu",
              type: "GET",
              success: resolve,
              error: reject
            });
          });
        }


        $(document).ready(async function() {
            let menuData = await GetMenu();
            menuData = JSON.parse(menuData)
            // console.log('menuData',menuData)

            // 調整手機版樣式
            let addMobileStyle = () => {

                if($(document).width() < 992){
                    let className = $("#menu").prop("class")
                    if(!className.includes("mobile-menu-style")){
                        $("#menu").addClass("mobile-menu-style")
                    }

                }
            }
            addMobileStyle()

            //動態生成menu
            for(let i = 0;i<menuData.length;i++){

                let eleStr = `
                    <div class="layout_menu_wrap bold color-menu">
                        <div class="layout_menu_title ">
                            <div class="layout_menu_icon">
                                    <h6 class=""><i class="fas ${menuData[i].IconNmae}"></i></h6>
                            </div>
                            <div class="layout_menu_font">${menuData[i].Title}</div>
                            <div class="layout_menu_switch ">
                                    <p><i class="fas fa-angle-up"></i></p>
                            </div>
                        </div>
                        <div class="layout_menu_content_container">
                `

                for(let j = 0;j<menuData[i].KidList.length;j++ ){
                    eleStr += `
                        <div class="layout_menu_content">
                            <a class="a-style" href="${menuData[i].KidList[j].Link}">
                              <div class="layout_menu_font">
                                ${menuData[i].KidList[j].Name}
                              </div>
                            </a>
                        </div>
                    `
                }

                eleStr += `
                    </div>
                </div>
                `
            
                $("#menu").append(eleStr)
            }

            let eleStr = `<div class="layout_menu_picture color-menu">`
            for(let i = 0;i<menuData.length;i++){
                eleStr += `
                    <div>
                        <h6 class=""><i class="fas ${menuData[i].IconNmae}"></i></h6>
                    </div>
                `
            }
            eleStr += `</div>`
            $("#menu").append(eleStr)

            //生成登出icon
            let createLogout = () => {
                let eleStrLogOut = `
                    <div id="logoutArea" class="layout_menu_wrap bold color-menu">
                        <div class="layout_menu_title ">
                            <div class="layout_menu_icon">
                                    <h6 class=""><i class="fas fa-sign-out-alt"></i></h6>
                            </div>
                            <div class="layout_menu_font">登出</div>
                            <div class="layout_menu_switch ">
                                    <p><i class="fas fa-outdent"></i></p>
                            </div>
                        </div>
                        <div class="layout_menu_content_container"></div>
                    </div>
                `

                $("#menu").append(eleStrLogOut)

                let eleStrIcon = `
                    <div>
                        <h6 class=""><i class="fas fa-sign-out-alt"></i></h6>
                    </div>
                `

                $(".layout_menu_picture").append(eleStrIcon)

                $("#logoutArea").on("click", function(e) {
                    e.stopPropagation()
                    $("#logoutViewPopup").fadeIn();
                });
              
                $(".logoutView-popup-wrap").on("click", function(e) {
                    if (e.target === this) {
                        $(this).fadeOut();
                    }
                    e.stopPropagation()
                });

                $(".logoutView-close").on("click", function(e) {
                    if (e.target === this) {
                        $("#logoutViewPopup").fadeOut();
                    }
                    e.stopPropagation()
                });

                $("#backBtn").on("click", function(e) {
                    e.stopPropagation()
                    $("#logoutViewPopup").fadeOut();
                });

                $("#outBtn").on("click", function(e) {
                    e.stopPropagation()
                    location.href = "/"
                });
            }
            createLogout()


            // 計時
            function updateTime() {
                document.getElementById("timeDisplay").innerText = new Date().toLocaleString();
            }
            setInterval(updateTime, 1000);
            updateTime();


            $(".layout_menu_picture").hide();

            // 選單切換邏輯
            $(".layout_bars").on("click", function(e) {
                let className = $("#menu").prop("class");
                if (className.includes("layout_menu_show")) {
                    $("#menu").prop("class", "layout_menu_hide");
                    $(".layout_menu_wrap").hide();
                    $(".layout_menu_picture").show();
                } else {
                    $("#menu").prop("class", "layout_menu_show");
                    $(".layout_menu_wrap").show();
                    $(".layout_menu_picture").hide();
                }
                addMobileStyle();
            });

            // 頁籤縮放
            $(".layout_menu_content_container").hide();
            $(".layout_menu_title").on("click", function(e) {
                let eleP = $(this).parent().parent().children();
                let eleC = $(this).parent();
                let index = eleP.index(eleC);
                let className = $(".layout_menu_switch")[index]?.className;

                if(!className){
                    return ;
                }

                $(this).children(".layout_menu_switch").toggleClass("rotate");
                if (className.includes("rotate")) {
                    $(this).siblings(".layout_menu_content_container").hide();
                } else {
                    $(this).siblings(".layout_menu_content_container").show();
                }
            });

            // 點擊內容時不關閉選單
            $(".layout_menu_content").on("click", function(e) {
                $(".layout_menu_content").css("background-color", "#ffffff");
                $(".layout_menu_font").css("color", "#9197B3");

                // 設定當前點擊項目的樣式            
                $(this).css("background-color", "#0040DD");
                $(this).children().children().css("color", "#ffffff");

                e.stopPropagation();
            });

            // 手機版初始隱藏
            if ($(document).width() < 992) {
                $(".layout_bars").click();
                $("#timeDisplay").hide();
            }

        });

    </script>
</body>
</html>
