/*---------------------------------
            COLOR              
---------------------------------*/

:root {
    /* 背景與線條 */
    --color-background: #DFE4F3;
    --color-line: #8E8E93;
    --color-div-bg: #EDEFF5;
    /* 主要系統顏色 */
    --color-red: #FF3B30;
    --color-orange: #FF9500;
    --color-yellow: #FFCC00;
    --color-green: #34C759;
    --color-blue: #0040DD;
    --color-white: #FFFFFF;
    /* 透明度顏色 */
    --color-red-opacity: rgba(255, 59, 48, 0.7);
    --color-orange-opacity: rgba(255, 149, 0, 0.7);
    --color-yellow-opacity: rgba(255, 204, 0, 0.7);
    --color-green-opacity: rgba(52, 199, 89, 0.7);
    --color-blue-opacity: rgba(0, 64, 221, 0.7);
    --color-gray-dark-opacity: rgba(54, 54, 56, 0.7);
    --color-gray-light-opacity: rgba(237, 239, 245, 0.7);
    /* 文字顏色 */
    --color-gray-dark: #363638;
    --color-gray-medium: #545456;
    --color-gray-light: #8E8E93;
    --color-menu-text: #9197B3;
}


.color-border-line {
    border: 1px solid var(--color-line);
}

.color-red {
    color: var(--color-red);
}

.color-orange {
    color: var(--color-orange);
}

.color-yellow {
    color: var(--color-yellow);
}

.color-green {
    color: var(--color-green);
}

.color-blue {
    color: var(--color-blue);
}

.color-white {
    color: var(--color-white);
}

.color-gray-dark {
    color: var(--color-gray-dark);
}

.color-gray-medium {
    color: var(--color-gray-medium);
}

.color-gray-light {
    color: var(--color-gray-light);
}

.color-menu {
    color: var(--color-menu-text);
}

/* 背景 */
.color-bg-white {
    background-color: var(--color-white);
}

/* 透明背景 */
.color-bg-red-opacity {
    background-color: var(--color-red-opacity);
}

.color-bg-orange-opacity {
    background-color: var(--color-orange-opacity);
}

.color-bg-yellow-opacity {
    background-color: var(--color-yellow-opacity);
}

.color-bg-green-opacity {
    background-color: var(--color-green-opacity);
}

.color-bg-blue-opacity {
    background-color: var(--color-blue-opacity);
}

.color-bg-gray-dark-opacity {
    background-color: var(--color-gray-dark-opacity);
}

.color-bg-gray-light-opacity {
    background-color: var(--color-gray-light-opacity);
}




/*---------------------------------
            TYPOGRAPHY               
---------------------------------*/

:root {
    /* 字型 */
    --body-font-family: 'Noto Sans', sans-serif;

    /* 字重 */
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-black: 1000;

    /* 標題字體大小 */
    --h1-size: 3rem;
    /* 48px */
    --h2-size: 2.5rem;
    /* 40px */
    --h3-size: 2rem;
    /* 32px */
    --h4-size: 1.5rem;
    /* 24px */
    --h5-size: 1.25rem;
    /* 20px */
    --h6-size: 1.125rem;
    /* 18px */
    --p-size: 1rem;
    /* 16px */
    /* 行高 */
    --h1-line: 4rem;
    /* 64px */
    --h2-line: 3.5rem;
    /* 56px */
    --h3-line: 2.625rem;
    /* 42px */
    --h4-line: 2rem;
    /* 32px */
    --h5-line: 1.75rem;
    /* 28px */
    --h6-line: 1.5rem;
    /* 24px */
    --p-line: 1.375rem;
    /* 22px */
}

h1 {
    font-size: var(--h1-size);
    line-height: var(--h1-line);
}

h2 {
    font-size: var(--h2-size);
    line-height: var(--h2-line);
}

h3 {
    font-size: var(--h3-size);
    line-height: var(--h3-line);
}

h4 {
    font-size: var(--h4-size);
    line-height: var(--h4-line);
}

h5 {
    font-size: var(--h5-size);
    line-height: var(--h5-line);
}

h6 {
    font-size: var(--h6-size);
    line-height: var(--h6-line);
}

p {
    font-size: var(--p-size);
    line-height: var(--p-line);
}

.bold {
    font-weight: var(--font-weight-bold);
}

/*---------------------------------
            全局樣式 
---------------------------------*/
:root {
    --border-radius: 20px;
}

.border-radius {
    border-radius: var(--border-radius);
}

.box-shadow {
    background-color: var(--color-div-bg);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.20);
}

/* 定義滾動條類型 */
/*.invisible-scrollbar {
    display: block;
    width: 10em;
    overflow: auto;
    height: 2em;
    padding: 1em;
    margin: 1em auto;
  outline: 2px dashed cornflowerblue;

}*/

    /* 隱藏 WebKit 滾動條 */
/*    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }
*/
/*---------------------------------
            RESET 
---------------------------------*/

html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body,
input,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font-family);
    background-color: var(--color-background);
    position: relative;
    font: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

button {
    border: none;
}
