
/* 手機 */
@media (max-width: 991.98px) {
    top_area
    .main_wrap {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

    .unusual_main_area {
        display: flex;
        flex-direction: column;
        max-width: 1128px;
        width: 100%;
        row-gap: 20px;
    }

    .track_main_area {
        display: flex;
        flex-direction: column;
        max-width: 1269px;
        width: 100%;
        row-gap: 20px;
    }

    .top_area {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .middle_area {
        width: 100%;
        display: flex;
        background-color: var(--color-white);
        overflow: auto;
    }

    .end_area {
        column-gap: 4px;
    }

    .button_style {
        background-color: var(--color-blue);
        width: 160px;
        height: 32px;
        border-radius: 28px;
        font-size: var(--p-size);
        color: var(--color-white);
    }

    .table {
        margin-bottom: 0px !important;
        min-width: 888px !important;
    }

        .table > :not(:last-child) > :last-child > * {
            border-bottom-color: #8E8E93 !important;
        }

    .page_circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        /*        background-color: #D9D9D9;*/
    }

    .circle_show {
        background-color: #7f9fee;
    }

    .center_display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon_display {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .td_center {
        text-align: center;
        vertical-align: middle;
    }

    /* 打卡視窗樣式 */
    .unusual-popup-wrap {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .unusual-popup-content {
        position: absolute;
        background: var(--color-div-bg);
        width: 600px;
        padding: 0px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .unusual-close {
        width: 32px;
        height: 32px;
        font-size: 32px;
        cursor: pointer;
    }

    .unusual-top {
        width: 100%;
        height: 48px;
        background-color: var(--color-background);
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        justify-content: end;
        padding: 0px 20px;
    }

    .unusual-area {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .unusual-check {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .unusual-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }

    /* 刪除視窗樣式 */
    .track-popup-wrap {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 36, 38, 0.7);
    }

    .track-popup-content {
        position: absolute;
        background: var(--color-div-bg);
        width: 75vw;
        padding: 0px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .track-close {
        width: 32px;
        height: 32px;
        font-size: 32px;
        cursor: pointer;
    }

    .track-top {
        width: 100%;
        background-color: var(--color-background);
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        justify-content: end;
        padding: 0px 12px;
    }

    .track-area {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .track-check {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .track-button {
        background-color: var(--color-blue);
        width: 30vw;
        height: 36px;
        border-radius: 28px;
    }

    .input_wrap {
        width: 480px;
        display: flex;
        flex-direction: column;
    }

    .form-select {
        max-width: 70vw !important;
    }

    .p-width {
        width: 100px;
    }

    .message-display {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .chose-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
    }

    .form-control {
        max-width: 70vw !important;
    }

    .table td {
        width: 100% !important;
    }

    .mouse-pointer {
        cursor: pointer;
    }
}

/* PC */
@media (min-width: 992px) {

    .main_wrap {
        width: 100%;
        height: auto;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
    }

    .unusual_main_area {
        display: flex;
        flex-direction: column;
        max-width: 1128px;
        width: 100%;
        row-gap: 40px;
    }

    .track_main_area {
        display: flex;
        flex-direction: column;
        max-width: 1269px;
        width: 100%;
        row-gap: 40px;
    }

    .top_area {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .middle_area {
        width: 100%;
        display: flex;
        background-color: var(--color-white);
    }

    .end_area {
        column-gap: 4px;
    }

    .button_style {
        background-color: var(--color-blue);
        width: 160px;
        height: 32px;
        border-radius: 28px;
        font-size: var(--p-size);
        color: var(--color-white);
    }

    .table {
        margin-bottom: 0px !important;
    }

        .table > :not(:last-child) > :last-child > * {
            border-bottom-color: #8E8E93 !important;
        }

    .page_circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
/*        background-color: #D9D9D9;*/
    }

    .circle_show {
        background-color: #7f9fee;
    }

    .center_display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon_display {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .td_center {
        text-align: center;
        vertical-align: middle;
    }

    /* 打卡視窗樣式 */
    .unusual-popup-wrap {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .unusual-popup-content {
        position: absolute;
        background: var(--color-div-bg);
        width: 600px;
        padding: 0px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .unusual-close {
        width: 32px;
        height: 32px;
        font-size: 32px;
        cursor: pointer;
    }

    .unusual-top {
        width: 100%;
        height: 48px;
        background-color: var(--color-background);
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        justify-content: end;
        padding: 0px 20px;
    }

    .unusual-area {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .unusual-check {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .unusual-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }

    /* 刪除視窗樣式 */
    .track-popup-wrap {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 36, 38, 0.7);
    }

    .track-popup-content {
        position: absolute;
        background: var(--color-div-bg);
        width: 600px;
        padding: 0px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .track-close {
        width: 32px;
        height: 32px;
        font-size: 32px;
        cursor: pointer;
    }

    .track-top {
        width: 100%;
        background-color: var(--color-background);
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        justify-content: end;
        padding: 0px 12px;
    }

    .track-area {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .track-check {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .track-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }

    .input_wrap {
        width: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-select {
        width: 360px !important;
    }

    .p-width {
        width: 100px;
    }

    .message-display {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .chose-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
    }

    .form-control {
        width: 360px !important;
    }

    .table td {
        width: 100% !important;
    }

    .mouse-pointer {
        cursor: pointer;
    }
}