/* 手機 */
@media (max-width: 991.98px) {
    .main_wrap {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }
    
    .report-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
    }

    .track-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
    }

    .input_wrap {
        width: 480px;
        display: flex;
        flex-direction:column;
    }

    .status_wrap {
        width: 480px;
        display: flex;
        flex-direction: column;
    }

    .text-wrap {
        width: 100px;
    }

    .explain_wrap {
        display: flex;
        flex-direction:column;
        width: 100%;
        height: 200px;
    }

    .file_wrap {
        display: flex;
        flex-direction:column;
        width: 100%;
        gap: 20px;
    }

    .file-area {
        width: 160px;
        height: 160px;
        background-color: var(--color-white);
        border: 1px solid #8E8E93;
        border-radius: 10px;
    }

    .img-wrap {
        position: relative;
        width: 160px;
        height: 160px;
        border: 1px solid #8E8E93;
        border-radius: 10px;
    }

    .img-area {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
    }

    .textarea_style {
        display: block;
        max-width: 100% !important;
        height: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color, box-shadow;
        resize: none;
    }

    .form-select {
        max-width: 100% !important;
    }

    .form-control {
        max-width: 100% !important;
    }

    .end-check {
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction:column;
        gap: 20px;
    }

    .save-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }

    .back-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }


    .picture-popup-wrap {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 36, 38, 0.7);
    }

    .picture-popup-content {
        position: absolute;
        background: var(--color-div-bg);
        width: 60vw;
        height: auto;
        padding: 0px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .picture-close {
        width: 32px;
        height: 32px;
        font-size: 32px;
        cursor: pointer;
    }

    .picture-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .error-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        width: var(--h4-size);
        color: red;
        font-size: var(--h4-size);
    }
}


/* PC */
@media (min-width: 992px) {
    .main_wrap {
        width: 100%;
        height: auto;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
    }

    .report-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
    }

    .track-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
    }

    .input_wrap {
        width: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .status_wrap {
        width: 480px;
        display: flex;
        align-items: center;
        gap:20px;
    }

    .text-wrap {
        width: 100px;
    }

    .explain_wrap {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
        height: 240px;
    }

    .file_wrap {
        display: flex;
        max-width: 1000px;
        width: 100%;
        column-gap: 20px;
    }

    .file-area {
        width: 160px;
        height: 160px;
        background-color: var(--color-white);
        border: 1px solid #8E8E93;
        border-radius: 10px;
    }

    .img-wrap {
        position: relative;
        width: 160px;
        height: 160px;
        border: 1px solid #8E8E93;
        border-radius: 10px;
    }

    .img-area {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
    }

    .textarea_style {
        display: block;
        width: 880px !important;
        max-width: 880px !important;
        height: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color, box-shadow;
        resize: none;
    }

    .form-select {
        max-width: 360px !important;
        width: 100% !important;
    }

    .form-control {
        max-width: 360px !important;
        width: 100% !important;
    }

    .end-check {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
    }

    .save-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }

    .back-button {
        background-color: var(--color-blue);
        width: 240px;
        height: 54px;
        border-radius: 28px;
    }


    .picture-popup-wrap {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 36, 38, 0.7);
    }
    
    .picture-popup-content {
        position: absolute;
        background: var(--color-div-bg);
        width: auto;
        height: 75vh;
        padding: 0px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .picture-close {
        width: 32px;
        height: 32px;
        font-size: 32px;
        cursor: pointer;
    }

    .picture-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .error-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        width: var(--h4-size);
        color: red;
        font-size: var(--h4-size);
    }

}

    