@* stylesheet *@
<head>
	<link rel="stylesheet" href="/css/Dashboard/Cctv.css"/>
	<script src="/js/jquery.min.js"></script> <!-- 確保 jQuery 已引入 -->
	<script src="~/js/data.js"></script>
	<script src="/js/data.js"></script>
	<script src="/js/cctv.js"></script>
</head>

@* https://localhost:7142/Dashboard/Cctv *@

<div class="main_wrap border-radius box-shadow ">
	<div class="cctv-top">
		<p class="db-title-l bold">即時影像監控
			<a asp-controller="Dashboard" asp-action="Dashboard">

				<i class="fas fa-reply end-arrow"></i>
			</a>
		</p>
		
	</div>
	<div class="cctv-middle">
		<div class="cctv-middle-left">
			<div class="wrap" id="largeCCTV">
				<img class="video-l border-radius" id="largeImg" style="-webkit-user-select: none;" src="">
			</div>
		</div>
		<div class="cctv-middle-right">
			@* 小cctv畫面生成 *@
		</div>
	</div>
	<div class="cctv-end-container">
		<div></div>
		<div class="cctv-end">@* 頁次按鈕生成 *@</div>
	</div>
</div>

